/**
 Global/Shared (Unencapsulated) styles for epoch-time related components.
 */

.epoch-panel {
  @extend .simple-panel;
}

.epoch-panel-header {
  @extend .simple-panel-header;
}

.epoch-panel-body {
  @extend .simple-panel-body;

  .epoch-row {
    @extend .panel-row;
  }

  .epoch-value {
    cursor: pointer;

    @include medium-up {
      width: 15rem;
      text-align: right;
    }

    @keyframes flash-background {
      from {
        background-color: lighten($bgcolor-default, 40%);
      }
      to {
        background-color: lighten($bgcolor-default, 5%);
      }
    }

    &.clipboard-copied {
      -webkit-animation: .6s flash-background;
      -o-animation: .6s flash-background;
      animation: .6s flash-background;
    }

    &:not(.clipboard-copied) { // dont transition when we are animating also
      @include transition(background-color 200ms ease-out);
    }
    &:hover {
      background-color: lighten($bgcolor-default, 5%);
    }
  }

  .epoch-label {
    font-size: 1rem;
    @include subtitle;
  }
}
