@import "~normalize.css/normalize";
@import "styles/variables";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: arial, SansSerif, sans-serif;

  @include medium-only {
    font-size: 17px;
  }

  @include large-up {
    font-size: 18px;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: $bgcolor-default;
  color: $color-default;
  font-size: 1.125rem;
}

a {
  color: inherit;

  &:not(.link) {
    text-decoration: none;
  }

  &:hover {
    background-color: rgba($color-default, 0.2);
  }

  &:focus {
    outline: none;
    background-color: rgba($color-default, 0.2);
  }
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4 {
  margin: 0;
  font-weight: bolder;
}

h1,.h1 {
  color: lighten($color-title, 20%);
  letter-spacing: .25rem;
  font-size: 1.5rem;
  @include medium-up {
    font-size: 2.2rem;
  }
}

h2,.h2 {
  color: $color-title;
  font-size: 2rem;
}

h3,.h3 {
  color: darken($color-title, 10%);
  font-size: 1.5rem;
}

input,textarea,select,button {
  width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-placeholder;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-placeholder;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-placeholder;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-placeholder;
}

input,textarea {
  background-color: $bgcolor-default;
  border: 1px solid $border-color-panel;
  @include standard-padding(.5);
  color: lighten($color-default, 10%);

  &:focus {
    outline: none;
    border-color: $color-focus;
  }
}


//
// Shared/global styles
//
@import "./app/epoch-time/epoch-time.global";
