<div class="dashboard">
  <a routerLink="/epoch-time" class="dash-link">
    <div class="title">Epoch Time</div>
    <div class="subtitle">Convert to and from unix epoch time</div>
  </a>
  <a href="#" class="dash-link">
    <div class="title">Time Zones</div>
    <div class="subtitle">Do stuff with time zones</div>
  </a>
  <a routerLink="/base64" class="dash-link">
    <div class="title">Base 64</div>
    <div class="subtitle">Encode and decode base64 strings</div>
  </a>
  <a routerLink="/uri" class="dash-link">
    <div class="title">URI Encoding</div>
    <div class="subtitle">URI Encode and decode strings</div>
  </a>
  <a href="#" class="dash-link">
    <div class="title">JSON</div>
    <div class="subtitle">Format JSON text</div>
  </a>
  <a href="#" class="dash-link">
    <div class="title">XML</div>
    <div class="subtitle">Format XML text</div>
  </a>
</div>
